body{
	margin: 0;
	padding: 0;
	background-image: url('../image/gui/background.png');
    background-size: cover;
}
#mapContainer{ 
	display: inline-block;
	/*height: 600px;*/
	width: 75%;
    overflow:hidden;
    position:relative;
    margin: none;
}
#canvasBg{
	/*height: 600px;*/
	width: 60%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}
#gameMap{
	/*height: 600px;*/
	width: 60%;
	position: relative;
	top: 0px;
	left: 0px;
	background-color: none;
	z-index: 2;
}

#controller {
	width: 145%;
	height: 145%;
	position: absolute;
	bottom: -27%;
	left: -22.5%;
}

#gui{
	position			:	fixed;
	margin: 15px;
	right				:	2%;
	width				:	200px;
	/*height				:	100%;*/
	display: inline-block;
	vertical-align: top;
}

#playerTeam{
	position: relative;
	width: 90%;
	height: 90%;
	margin-bottom: -60%;
}

#check-reso{
	position: relative;
	top: 250px;

}

.dPad
{
	position: relative;
	top: 200px;
	width: 200px;
	height: 200px;
}

.arrowImage
{
	/*input-event         : 	none;*/
	width				:	34%;
	height				:	34%;
	position			: 	absolute;
}

.dPad #upButton
{
	top					: 	-8%;
	right				:	33%;
}

.dPad #downButton
{
	bottom				:   -1%;
	right				:	33%;
}

.dPad #leftButton
{
	left				: 	-4.5%;
	top					:	30%;
}

.dPad #rightButton
{
	right				: 	-4.5%;
	top					:	30%;
}

.pressed{
	margin-bottom: -1%;
	margin-top: 1%;
	/*padding-bottom: 5px;*/
}