body{
	margin: 0;
	padding: 0;
}
#mapContainer{ 
	width: 512px;
	height: 512px;
    overflow:hidden;
    position:relative;
    margin: none;
}
#canvasBg{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#gameMap{
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: none;
	z-index: 2;
}

.dPad
{
	position			:	fixed;
	bottom				:	1%;
	right				:	1%;
	width				:	20%;
	height				:	40%;
}

.arrowImage
{
	input-event         : 	none;
	width				:	34%;
	height				:	34%;
	position			: 	absolute;
}

.dPad #upButton
{
	top					: 	1%;
	right				:	33%;
}

.dPad #downButton
{
	bottom				: 	1%;
	right				:	33%;
}

.dPad #leftButton
{
	left				: 	1%;
	top					:	33%;
}

.dPad #rightButton
{
	right				: 	1%;
	top					:	33%;
}
